<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		addrulepath="/administrator/components/com_managedsponsors/models/rules"
		addfieldpath="/administrator/components/com_managedsponsors/models/fields"
		name="global_config"
		label="COM_MANAGEDSPONSORS_CONFIG_GLOBAL_LABEL"
		description="COM_MANAGEDSPONSORS_CONFIG_GLOBAL_DESC">
		<field name="autorTitle"
			type="spacer"
			label="COM_MANAGEDSPONSORS_CONFIG_AUTHOR"
		/>
		<field name="autorName"
			type="text"
			label="COM_MANAGEDSPONSORS_CONFIG_AUTHOR_NAME_LABEL"
			description="COM_MANAGEDSPONSORS_CONFIG_AUTHOR_NAME_DESC"
			size="60"
			default="kongr45gpen"
			readonly="true"
			class="readonly"
		/>
		<field name="autorEmail"
			type="email"
			label="COM_MANAGEDSPONSORS_CONFIG_AUTHOR_EMAIL_LABEL"
			description="COM_MANAGEDSPONSORS_CONFIG_AUTHOR_EMAIL_DESC"
			size="60"
			default="electrovesta@gmail.com"
			readonly="true"
			class="readonly"
		/>
	</fieldset>
	<fieldset
		name="all_sponsors_custom_config"
		label="COM_MANAGEDSPONSORS_CONFIG_ALL_SPONSORS">

		<!-- [Fields 1299] Base_height Field. Type: Text. (joomla) -->
		<field
			type="text"
			name="base_height"
			label="COM_MANAGEDSPONSORS_CONFIG_BASE_HEIGHT_LABEL"
			size="5"
			maxlength="50"
			description="COM_MANAGEDSPONSORS_CONFIG_BASE_HEIGHT_DESCRIPTION"
			class="text_area"
			readonly="false"
			disabled="false"
			required="false"
			filter="STRING"
			message="COM_MANAGEDSPONSORS_CONFIG_BASE_HEIGHT_MESSAGE"
			hint="COM_MANAGEDSPONSORS_CONFIG_BASE_HEIGHT_HINT"
			autocomplete="on"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_managedsponsors"
			section="component"
		/>
	</fieldset>
</config>